<!DOCTYPE html>
<html>
    <head>
        <title>Django First blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django First Blog</a></h1>
            <h2><em>Posts information from Database</em></h2>
        </header>
        <div class="">
          {% for post in posts %}

          <h3>Post published date: {{post.published_date}}</h3>
          <p>Post title: {{post.title}}</p>
          <p>Creation Date: {{post.creation_date}}</p>
          {%endfor%}
        </div>
    </body>
</html>
