<!DOCTYPE html>
<html>
    <head>
        <title>Django First blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django First Blog</a></h1>
        </header>

        <article>
            <time>published: 01.04.2021, 09:00</time>
            <h2><a href="">My first post</a></h2>
            <p>This is first blog, text between paragraph tag </p>
        </article>

        <article>
            <time>published: 01.04.2021, 10:00</time>
            <h2><a href="">My second post</a></h2>
            <p>This is second blog, text between paragraph tag.</p>
        </article>
    </body>
</html>
